.area-close {
  display: none;
}

.area-open {
  display: block;
}

.mondai-area-top {
  display: flex;
}

.mondai-area-top h3 {
  margin-right: 5px;
}

.mondai-div {
  display: flex;
  width: auto;
  height: auto;
  text-align: center;
}

.mondai-div h3,.mondai-div img,.mondai-div p {
  margin-right: 5px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: azure;
  padding: 10px;
}

header nav {
  display: flex;
  margin: 0 0 0 auto;
}

header li {
  list-style: none;
}

header li a {
  margin-left: 3px;
}

header p, header nav {
  margin-top: auto;
  margin-bottom: auto;
}

header p {
  margin-left: 3px;
}

.button {
  text-decoration: none;
  color: black;
  background-color: rgba(0, 220, 220, 0.5);
  box-shadow: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(230, 255, 255);
}

#new-area,#training-area {
  width: 500px;
  height: auto;
  background-color: azure;
  padding: 5px;
  border-color: aquamarine;
  border-width: 3px;
  border-style: solid;
}

img {
  max-width: 500px;
  min-width: 100px;
}

.thumbnail {
  width: 100px;
}

